---
import Navbar from "./Navbar.astro";
---

<footer class="flex justify-between items-center mt-24 border-t border-neutral-800 pt-3 px-5">

  <Navbar />

  <p class="text-neutral-500 text-sm">
    &copy; Todos los derechos reservados Kevin Veliz 2026
  </p>

</footer>   