---
import Navbar from "./Navbar.astro";
---

<footer class="mt-24 border-t border-neutral-800 pt-8">

  <Navbar />

  <p class="text-neutral-500 text-sm mt-6">
    © 2026 Kevin Veliz
  </p>

</footer>