---
import Navbar from "../components/Navbar.astro";
---
<header class="flex justify-between items-center py-4 mx-5">

    <h1 class="text-xl font-bold">
        Kevin Veliz
    </h1>
    <Navbar />
</header>