---
import Card from "./Card.astro";
---

<section id="projects" class="mt-24 border border-neutral-800 rounded-xl p-10 bg-neutral-900/40">

    <h2 class="text-3xl font-bold">
    Projects
    </h2>

    <p class="text-neutral-400 mt-2">
    Some things I've built
    </p>

    <div class="grid md:grid-cols-3 gap-6 mt-10">


        <Card
            title="GGHardware"
            description="Hardware inventory and management system for tracking computer components and stock with full CRUD operations."
            github="https://github.com/KevinVelizz/GGHardware"
            tech={["Express", "MySQL", "EJS", "JavaScript", "HTML", "CSS"]}
        />


        <Card
            title="Clinica Online"
            description="Medical appointment management platform with authentication, role-based users and scheduling."
            github="https://github.com/KevinVelizz/ClinicaOnlineAngular/tree/sprint5"
            tech={["Angular", "Firebase"]}
        />

        <Card
            title="Generala Game"
            description="Desktop dice game based on Generala developed in C# using Windows Forms, with MySQL database integration for storing game results."
            github="https://github.com/KevinVelizz/Veliz.Kevin.TP2/tree/develop"
            tech={["C#", ".NET", "MySQL"]}
        />

    </div>

</section>