<section id="skills" class="mt-24 text-center border border-neutral-800 rounded-xl p-10 bg-neutral-900/40">
    <h2 class="text-3xl font-bold text-white text-center">Skills</h2>
    <p class="text-neutral-400 mt-4 leading-relaxed text-center">
        Here are a few technologies I've been working with recently
    </p>
    <div class="flex flex-col">
        <div class="flex flex-col my-3">
            <h3 class="text-xl font-bold text-white">Programming languages</h3>

            <div
                class="flex flex-wrap justify-center md:justify-start gap-3 my-4"
            >
                <!-- HTML -->
                <div class="skill-card">
                    <ion-icon
                        name="logo-html5"
                        class="skill-icon text-[#FF5722]"></ion-icon>
                    <p>HTML</p>
                </div>

                <!-- CSS -->
                <div class="skill-card">
                    <ion-icon name="logo-css3" class="skill-icon text-[#1F8FE8]"
                    ></ion-icon>
                    <p>CSS</p>
                </div>

                <!-- JS -->
                <div class="skill-card">
                    <ion-icon
                        name="logo-javascript"
                        class="skill-icon text-[#FFDF00]"></ion-icon>
                    <p>JavaScript</p>
                </div>

                <div class="skill-card">
                    <svg
                        viewBox="0 0 400 400"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#000000"
                        class="skill-icon"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                            ><style>
                                .st0 {
                                    fill: #007acc;
                                }
                                .st1 {
                                    fill: #fff;
                                }
                            </style><path class="st0" d="M0 200V0h400v400H0"
                            ></path><path
                                class="st1"
                                d="M87.7 200.7V217h52v148h36.9V217h52v-16c0-9 0-16.3-.4-16.5 0-.3-31.7-.4-70.2-.4l-70 .3v16.4l-.3-.1zM321.4 184c10.2 2.4 18 7 25 14.3 3.7 4 9.2 11 9.6 12.8 0 .6-17.3 12.3-27.8 18.8-.4.3-2-1.4-3.6-4-5.2-7.4-10.5-10.6-18.8-11.2-12-.8-20 5.5-20 16 0 3.2.6 5 1.8 7.6 2.7 5.5 7.7 8.8 23.2 15.6 28.6 12.3 41 20.4 48.5 32 8.5 13 10.4 33.4 4.7 48.7-6.4 16.7-22 28-44.3 31.7-7 1.2-23 1-30.5-.3-16-3-31.3-11-40.7-21.3-3.7-4-10.8-14.7-10.4-15.4l3.8-2.4 15-8.7 11.3-6.6 2.6 3.5c3.3 5.2 10.7 12.2 15 14.6 13 6.7 30.4 5.8 39-2 3.7-3.4 5.3-7 5.3-12 0-4.6-.7-6.7-3-10.2-3.2-4.4-9.6-8-27.6-16-20.7-8.8-29.5-14.4-37.7-23-4.7-5.2-9-13.3-11-20-1.5-5.8-2-20-.6-25.7 4.3-20 19.4-34 41-38 7-1.4 23.5-.8 30.4 1l-.2.2z"
                            ></path></g
                        ></svg
                    >
                    <p>TypeScript</p>
                </div>

                <div class="skill-card">
                    <svg
                        viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        fill="#000000"
                        class="skill-icon"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                            ><defs
                                ><radialGradient
                                    id="a"
                                    cx="-16.114"
                                    cy="20.532"
                                    r="18.384"
                                    gradientTransform="translate(26.52 -9.307)"
                                    gradientUnits="userSpaceOnUse"
                                    ><stop offset="0" stop-color="#ffffff"
                                    ></stop><stop
                                        offset="0.5"
                                        stop-color="#4c6b96"></stop><stop
                                        offset="1"
                                        stop-color="#231f20"
                                    ></stop></radialGradient
                                ></defs
                            ><title>file_type_php</title><ellipse
                                cx="16"
                                cy="16"
                                rx="14"
                                ry="7.365"
                                style="fill:url(#a)"></ellipse><ellipse
                                cx="16"
                                cy="16"
                                rx="13.453"
                                ry="6.818"
                                style="fill:#6280b6"></ellipse><path
                                d="M18.725,18.2l.667-3.434a1.752,1.752,0,0,0-.372-1.719,2.929,2.929,0,0,0-2-.525H15.867l.331-1.7a.219.219,0,0,0-.215-.26h-1.6a.219.219,0,0,0-.215.177l-.709,3.646a2.051,2.051,0,0,0-.477-1.054,2.783,2.783,0,0,0-2.2-.807H7.7a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26H7.869a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.538,3.538,0,0,0,.68-.844l-.287,1.475a.219.219,0,0,0,.215.26h1.6a.219.219,0,0,0,.215-.177l.787-4.051h1.094c.466,0,.6.093.64.133s.1.165.025.569l-.635,3.265a.219.219,0,0,0,.215.26h1.62A.219.219,0,0,0,18.725,18.2ZM11.33,15.366a1.749,1.749,0,0,1-.561,1.092,2.171,2.171,0,0,1-1.315.321H8.742l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,11.33,15.366Z"
                                style="fill:#fff"></path><path
                                d="M25.546,13.332a2.783,2.783,0,0,0-2.2-.807H20.255a.219.219,0,0,0-.215.177l-1.434,7.38a.219.219,0,0,0,.215.26h1.608a.219.219,0,0,0,.215-.177l.347-1.785h1.2a5.167,5.167,0,0,0,1.568-.2,3.068,3.068,0,0,0,1.15-.689,3.425,3.425,0,0,0,1.076-1.927A2.512,2.512,0,0,0,25.546,13.332Zm-1.667,2.034a1.749,1.749,0,0,1-.561,1.092A2.171,2.171,0,0,1,22,16.778H21.29l.515-2.651h.921c.677,0,.949.145,1.059.266A1.181,1.181,0,0,1,23.879,15.366Z"
                                style="fill:#fff"></path><path
                                d="M10.178,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,9.454,17H8.476l.6-3.089ZM6.261,20.124H7.869l.381-1.962H9.627a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H7.7Z"
                                style="fill:#000004"></path><path
                                d="M14.387,10.782h1.6L15.6,12.744h1.421a2.767,2.767,0,0,1,1.85.468,1.548,1.548,0,0,1,.305,1.516l-.667,3.434H16.89l.635-3.265a.886.886,0,0,0-.08-.76,1.121,1.121,0,0,0-.8-.2H15.37l-.822,4.228h-1.6Z"
                                style="fill:#000004"></path><path
                                d="M22.727,13.908a1.645,1.645,0,0,1,1.221.338,1.34,1.34,0,0,1,.145,1.161,1.945,1.945,0,0,1-.642,1.223A2.361,2.361,0,0,1,22,17h-.978l.6-3.089ZM18.81,20.124h1.608l.381-1.962h1.377a4.931,4.931,0,0,0,1.5-.191,2.84,2.84,0,0,0,1.07-.642,3.207,3.207,0,0,0,1.01-1.808,2.3,2.3,0,0,0-.385-2.044,2.568,2.568,0,0,0-2.035-.732H20.244Z"
                                style="fill:#000004"></path></g
                        ></svg
                    >
                    <p>PHP</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col my-3">
            <h3 class="text-xl font-bold text-white">Libraries & Frameworks</h3>

            <div
                class="flex flex-wrap justify-center md:justify-start gap-3 my-4"
            >
                <!-- Angular -->
                <div class="skill-card">
                    <ion-icon
                        name="logo-angular"
                        class="skill-icon text-red-500"></ion-icon>
                    <p>Angular</p>
                </div>

                <!-- Node -->
                <div class="skill-card">
                    <ion-icon
                        name="logo-nodejs"
                        class="skill-icon text-[#8AC400]"></ion-icon>
                    <p>Node.js</p>
                </div>

                <div class="skill-card">
                    <svg
                        class="skill-icon text-gray-800 dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            d="M11.782 5.72a4.773 4.773 0 0 0-4.8 4.173 3.43 3.43 0 0 1 2.741-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.934-2.865 3.137-3.921-.969 1.379-2.44 2.207-4.259 1.231-1.253-.673-2.19-3.438-5.959-3.318ZM6.8 11.979A4.772 4.772 0 0 0 2 16.151a3.431 3.431 0 0 1 2.745-1.687c1.689 0 2.974 1.972 3.758 2.587a5.733 5.733 0 0 0 5.382.935c2-.638 2.933-2.865 3.137-3.921-.97 1.379-2.44 2.208-4.259 1.231-1.253-.673-2.19-3.443-5.963-3.317Z"
                        ></path>
                    </svg>

                    <p>Tailwind</p>
                </div>

                <div class="skill-card">
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="skill-icon"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M4.98488 2C3.61546 2 2.60217 3.19858 2.64753 4.49844C2.69105 5.74725 2.63451 7.36461 2.22732 8.68359C1.81892 10.0064 1.1282 10.8444 0 10.952V12.1666C1.1282 12.2742 1.81892 13.1122 2.22732 14.4351C2.63451 15.754 2.69105 17.3714 2.64753 18.6202C2.60217 19.9199 3.61546 21.1186 4.98508 21.1186H19.0169C20.3864 21.1186 21.3995 19.9201 21.3541 18.6202C21.3106 17.3714 21.3671 15.754 21.7743 14.4351C22.1829 13.1122 22.8718 12.2742 24 12.1666V10.952C22.8718 10.8444 22.1829 10.0064 21.7743 8.68359C21.3671 7.36481 21.3106 5.74725 21.3541 4.49844C21.3995 3.19878 20.3864 2 19.0169 2H4.98468H4.98488ZM16.2712 13.7687C16.2712 15.5586 14.9361 16.6441 12.7206 16.6441H8.94915C8.84127 16.6441 8.7378 16.6012 8.66152 16.5249C8.58523 16.4486 8.54237 16.3452 8.54237 16.2373V6.88136C8.54237 6.77347 8.58523 6.67001 8.66152 6.59372C8.7378 6.51743 8.84127 6.47458 8.94915 6.47458H12.6991C14.5464 6.47458 15.7588 7.47525 15.7588 9.01166C15.7588 10.09 14.9433 11.0555 13.9041 11.2245V11.2809C15.3187 11.4361 16.2712 12.4156 16.2712 13.7687ZM12.3094 7.76407H10.1589V10.8015H11.9701C13.3702 10.8015 14.1423 10.2377 14.1423 9.2299C14.1423 8.28556 13.4784 7.76407 12.3094 7.76407ZM10.1589 12.0068V15.3542H12.3885C13.8462 15.3542 14.6184 14.7692 14.6184 13.6699C14.6184 12.5704 13.8246 12.0066 12.2947 12.0066H10.1589V12.0068Z"
                                fill="#7952B3"></path>
                        </g></svg
                    >
                    <p>Bootstrap</p>
                </div>
            </div>
        </div>

        <div class="flex flex-col my-3">
            <h3 class="text-xl font-bold text-white">Tools & Platforms</h3>

            <div class="flex flex-wrap justify-center md:justify-start gap-3 my-4">
                <!-- Git -->
                <div class="skill-card">
                    <ion-icon name="logo-github" class="skill-icon text-white"
                    ></ion-icon>
                    <p>GitHub</p>
                </div>

                <div class="skill-card">
                    <svg
                        viewBox="0 0 32 32"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="skill-icon"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                        >
                            <path
                                d="M0 10V20H9V22H16V20H32V10H0Z"
                                fill="#CB3837"></path>
                            <path
                                d="M5.46205 12H2V18H5.46205V13.6111H7.22344V18H8.98482V12H5.46205ZM10.7462 12V20H14.269V18H17.731V12H10.7462ZM15.9696 16.3889H14.269V13.6111H15.9696V16.3889ZM22.9545 12H19.4924V18H22.9545V13.6111H24.7158V18H26.4772V13.6111H28.2386V18H30V12H22.9545Z"
                                fill="white"></path>
                        </g></svg
                    >
                    <p>NPM</p>
                </div>

                <div class="skill-card">
                    <svg
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#00769D"
                        class="skill-icon"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                            id="SVGRepo_tracerCarrier"
                            stroke-linecap="round"
                            stroke-linejoin="round"></g><g
                            id="SVGRepo_iconCarrier"
                        >
                            <rect x="0" fill="none" width="20" height="20"
                            ></rect>
                            <g>
                                <path
                                    d="M20 10c0-5.52-4.48-10-10-10S0 4.48 0 10s4.48 10 10 10 10-4.48 10-10zM10 1.01c4.97 0 8.99 4.02 8.99 8.99s-4.02 8.99-8.99 8.99S1.01 14.97 1.01 10 5.03 1.01 10 1.01zM8.01 14.82L4.96 6.61c.49-.03 1.05-.08 1.05-.08.43-.05.38-1.01-.06-.99 0 0-1.29.1-2.13.1-.15 0-.33 0-.52-.01 1.44-2.17 3.9-3.6 6.7-3.6 2.09 0 3.99.79 5.41 2.09-.6-.08-1.45.35-1.45 1.42 0 .66.38 1.22.79 1.88.31.54.5 1.22.5 2.21 0 1.34-1.27 4.48-1.27 4.48l-2.71-7.5c.48-.03.75-.16.75-.16.43-.05.38-1.1-.05-1.08 0 0-1.3.11-2.14.11-.78 0-2.11-.11-2.11-.11-.43-.02-.48 1.06-.05 1.08l.84.08 1.12 3.04zm6.02 2.15L16.64 10s.67-1.69.39-3.81c.63 1.14.94 2.42.94 3.81 0 2.96-1.56 5.58-3.94 6.97zM2.68 6.77L6.5 17.25c-2.67-1.3-4.47-4.08-4.47-7.25 0-1.16.2-2.23.65-3.23zm7.45 4.53l2.29 6.25c-.75.27-1.57.42-2.42.42-.72 0-1.41-.11-2.06-.3z"
                                ></path>
                            </g>
                        </g></svg
                    >
                    <p>Wordpress</p>
                </div>
            </div>
        </div>
    </div>
</section>
