---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body
        class="bg-gradient-to-b from-neutral-950 via-neutral-900 to-neutral-950 text-white"
    >
        <Header />

        <div
            id="mobile-menu"
            class="fixed top-0 left-0 w-full h-full bg-[#1A202C] backdrop-blur-md z-50 flex flex-col items-center justify-start gap-8 text-xl transform -translate-y-full opacity-0 transition-all duration-700 ease-in-out"
        >
            <button id="close-menu" class="text-neutral-400 text-5xl mt-10">
                <ion-icon name="close-outline"></ion-icon>
            </button>
            <a href="#about" class="relative group">
                <span
                    class="text-neutral-400 transition-colors duration-300 group-hover:text-white"
                >
                    About
                </span>

                <span
                    class="absolute left-0 -bottom-1 w-0 h-[2px] bg-blue-500 transition-all duration-300 group-hover:w-full"
                ></span>
            </a>
            <a href="#skills" class="relative group">
                <span
                    class="text-neutral-400 transition-colors duration-300 group-hover:text-white"
                >
                    Skills
                </span>

                <span
                    class="absolute left-0 -bottom-1 w-0 h-[2px] bg-blue-500 transition-all duration-300 group-hover:w-full"
                ></span>
            </a>

            <a href="#projects" class="relative group">
                <span
                    class="text-neutral-400 transition-colors duration-300 group-hover:text-white"
                >
                    Projects
                </span>

                <span
                    class="absolute left-0 -bottom-1 w-0 h-[2px] bg-blue-500 transition-all duration-300 group-hover:w-full"
                ></span>
            </a>

            <a href="#contact" class="relative group">
                <span
                    class="text-neutral-400 transition-colors duration-300 group-hover:text-white"
                >
                    Contact
                </span>

                <span
                    class="absolute left-0 -bottom-1 w-0 h-[2px] bg-blue-500 transition-all duration-300 group-hover:w-full"
                ></span>
            </a>

            <a href="/CV-Veliz-Kevin.pdf" download class="relative group">
                <span
                    class="text-neutral-400 transition-colors duration-300 group-hover:text-white"
                >
                    Curriculum Vitae
                </span>

                <span
                    class="absolute left-0 -bottom-1 w-0 h-[2px] bg-blue-500 transition-all duration-300 group-hover:w-full"
                ></span>
            </a>

        </div>
        <main class="max-w-5xl mx-auto px-6">
            <slot />
        </main>

        <Footer />

        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>

        <script is:inline>
            window.addEventListener("DOMContentLoaded", () => {
                const btn = document.getElementById("menu-btn");
                const menu = document.getElementById("mobile-menu");
                const close = document.getElementById("close-menu");
                const links = document.querySelectorAll("#mobile-menu a");

                if (btn && menu && close) {
                    btn.addEventListener("click", () => {
                        menu.classList.remove("-translate-y-full", "opacity-0");
                        menu.classList.add("translate-y-0", "opacity-100");
                        document.body.style.overflow = "hidden";
                    });

                    const closeMenu = () => {
                        menu.classList.add("-translate-y-full", "opacity-0");
                        menu.classList.remove("translate-y-0", "opacity-100");
                        document.body.style.overflow = "auto";
                    };

                    close.addEventListener("click", closeMenu);

                    links.forEach((link) => {
                        link.addEventListener("click", closeMenu);
                    });
                }
            });
        </script>
    </body>
</html>
